html,
body {
  height: 100%;
  font-family: "Arial MT";

}


.wrapper {
  width: 960px;
  margin: 5px auto;
  min-height: 100%;
  position: relative;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




