html,
body {
  height: 100%;
  font-family: "Arial MT"; }

.wrapper {
  width: 960px;
  margin: 5px auto;
  min-height: 100%;
  position: relative; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.header {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #787878;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header .wrapper-block-1 {
    min-width: 122px;
    margin-right: 12px; }
  .header .wrapper-block-2 {
    min-width: 279px;
    margin-right: 24px; }
  .header .wrapper-block-3 {
    min-width: 513px; }

.logo {
  float: left; }

.contact {
  background: #777;
  width: 301px;
  height: 108px;
  float: left; }

.more {
  width: 513px;
  height: 108px;
  background: #777;
  float: right;
  text-align: right;
  padding: 21px 22px 10px 10px;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .more p, .more a {
    color: white; }
  .more a {
    display: block; }

.left {
  float: left;
  height: 787px;
  position: relative; }

.content {
  padding: 21px 0;
  padding-bottom: 228px;
  position: relative;
  min-height: 70%; }

.left-menu {
  width: 184px;
  padding: 14px 8px 14px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #777;
  color: white;
  line-height: 1.35;
  max-height: 380px;
  overflow-y: auto; }
  .left-menu h2 {
    font-weight: bold; }
  .left-menu a {
    color: white;
    text-decoration: none; }

.center {
  width: 776px;
  float: right; }
  .center .image-content {
    min-height: 556px; }
  .center img {
    margin-top: 20px;
    margin-left: 20px;
    width: 131px;
    height: 150px; }

.higer-content {
  width: 756px;
  height: 210px;
  background: #dcdcdc;
  float: right; }

.green {
  position: absolute;
  left: 0;
  bottom: 227px; }

.lower-content {
  padding-top: 15px;
  padding-left: 20px;
  line-height: 22px;
  font-size: 14px;
  color: #777; }
  .lower-content .left-content, .lower-content .right-content {
    padding: 20px 16px;
    background: #dcdcdc;
    float: left;
    width: 366px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .lower-content .right-content {
    float: right; }

footer {
  padding-top: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #777; }

.foot-left {
  width: 296px;
  height: 180px;
  overflow-y: auto; }
  .foot-left ol {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    line-height: 22px; }

.foot-center {
  width: 297px;
  margin: 0 28px;
  overflow-y: auto; }
  .foot-center ul {
    list-style-type: square;
    font-size: 16px;
    margin-left: 20px; }

.foot-right {
  width: 308px;
  height: 180px; }
  .foot-right .foot-info {
    background: #777;
    height: 76px;
    margin-bottom: 26px; }
  .foot-right img {
    width: 308px;
    height: 76px; }

.foot-left, .foot-center {
  background: #777;
  padding: 12px 23px; }

.foot-left, .foot-center, .foot-right {
  color: white;
  line-height: 22px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 180px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0; }
  .header {
    display: block; }
    .header .wrapper-block-1 {
      margin-right: 1%;
      width: 2%;
      min-width: 12.74%;
      max-width: 122px;
      float: left; }
      .header .wrapper-block-1 img {
        width: 100%;
        max-width: 122px; }
    .header .wrapper-block-2 {
      float: left;
      width: 86.1%;
      margin-right: 0; }
      .header .wrapper-block-2 .contact {
        width: 100%; }
    .header .wrapper-block-3 {
      float: left;
      margin-top: 10px;
      width: 100%; }
      .header .wrapper-block-3 .more {
        float: left;
        width: 100%; }
  .content .center {
    width: 73%; }
    .content .center .higer-content {
      width: 100%; }
    .content .center .left-content {
      width: 48%; }
    .content .center .right-content {
      width: 48%; }
  footer {
    max-width: 100%; } }

@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0; }
  .header {
    display: block; }
    .header .wrapper-block-1 {
      margin-right: 1%;
      width: 2%;
      min-width: 12.74%;
      max-width: 122px;
      float: left;
      height: auto; }
      .header .wrapper-block-1 img {
        width: 100%;
        max-width: 122px;
        height: auto; }
    .header .wrapper-block-2 {
      float: left;
      width: 86.1%;
      margin-right: 0;
      min-width: 0; }
      .header .wrapper-block-2 .contact {
        width: 100%; }
    .header .wrapper-block-3 {
      float: left;
      margin-top: 10px;
      width: 100%;
      min-width: 100%; }
      .header .wrapper-block-3 .more {
        float: left;
        width: 100%; }
  .content {
    padding-bottom: 178px; }
  .center {
    width: 100%; }
    .center .higer-content {
      width: 100%; }
    .center .image-content {
      clear: both; }
  .left {
    width: 100%;
    height: 340px; }
    .left .left-menu {
      width: 100%;
      text-align: center; }
  .green {
    bottom: 21px; }
  .lower-content {
    width: 100%;
    padding-left: 0; }
    .lower-content .left-content {
      width: 100%;
      margin-bottom: 20px; }
    .lower-content .right-content {
      width: 100%; }
  footer {
    margin: 0;
    bottom: -500px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: -500px;
    position: static; }
    footer .foot-left {
      width: 100%; }
    footer .foot-center {
      width: 100%;
      margin: 28px 0; }
    footer .foot-right {
      width: 100%; }
      footer .foot-right img {
        display: block;
        margin: auto; } }
